

/*--------------------------------------------Fondo----------------------------------------*/
body{
    background-color: rgb(43, 11, 71);
    background-image: url("./img/cool-background.png")
}

/*--------------------------------------------IMG----------------------------------------*/

.logoNosotros{
    padding: 50px;
  transition: transform .2s; /* Animation */
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.logoNosotros:hover {
    transform: scale(1.2);
  }

/*--------------------------------------------Descripcion Nosotros----------------------------------------*/

.text-nosotros{
    color: white;
    font-size: 20px;
}