.pequeñas{
    width: 20rem;
}
p{
    justify-content: center;
}

.bg-body{
    background-color: white !important;
}

.zoomItem{
  transition: transform .2s; /* Animation */
  
}

.zoomItem:hover {
    transform: scale(1.05);
  }