
/*----------------------------Logo---------------------*/
.logo{
  height: 70px;
  position: relative;
}


/*----------------------------NavItems---------------------*/
.blanco{
  color: aliceblue;
  font-size: 20px;
}